body{
    background-color: #faf8cb;
    padding-top: 70px !important;
}
.politico_perfil{
    width:180px;
    height:180px;
    border-radius:20px;
}
.politico_perfil_mini{
    width:120px;
    height:120px;
}
.politico_menu{
    margin-top:10px;

}
.politico_conteudo{
    float:right;
    margin-right:1%;
    background-color:#eeeeee;
    height:calc(100vh - 100px);
}
.propostas_conteudo{
    padding-top:5px !important;

}
.proposta_rating{
    float:right;
}
.proposta_box{
    margin-bottom:50px;
}
.proposta_superior{
    padding-bottom:5px;
    border-bottom: thin double #ff0000;


}
.jumbotron{
    background-color:white;
}
.proposta_veja{
    float:right;
    font-size:14px;
}
.proposta_texto{
    font-size:14px !important;
}
.propostas_filter{
    padding-left:10px;
    height:1000px;
}
.propostas_bloco_filtro{
    background-color:white;
    padding-bottom:10px;
}
.politico_bloco{
    background-color:green;
}
.propostas_ordem{
    float:right;
    font-size:16px;
    font-weight: normal;
}
.nav > li{
    font-weight: normal;
    font-size:15px;
}
.panel-title{
    font-size:14px;
}
.panel-body{
    font-size:12px;
    max-height:300px;
    overflow:auto;
}
.politicos_bloco{
    padding:10px !important;
}
.politico_box{

    overflow:auto;
    margin-bottom:15px;
}
.politico_foto_box{
    overflow:auto;
    width:120px;
    margin-right:10px;
    float:left;
}
.politico_infos{
    float:left;
    display:table;

}
.politico_infos > h5 > span{
    margin-top:0px !important;

    font-size:13px;
    font-weight: normal;
}
.politico_infos > p{
    font-size:12px;

    float:left;
    margin-top:2px;

}
.politico_infos > h5{

    margin-top:0px;
    margin-bottom:0px !important;
}
.proposta_box > a{
    float:right;
}
.proposta_vis{
    font-size:13px;
    color:black;
}
.proposta_title > a{
    color:black;

}
.politico_perfil_conteudo{
    font-size:12px !important;
}
.politico_likes{
    float:right !important;
    font-size:14px !important;
}
.politico_infos_inf{
    width:100%;
}
.politico_infos_inf > a{
    float:right;
}